@import "base";

.navigation {
    width: 55%;
    margin: auto;
    padding: 1.5rem;
    justify-content: flex-end;
    align-items: center;

    .svg-logo {
        margin-right: auto;
    }

    .btn-upgrade {
        background-color: white;
        color: black;
        margin-right: 1rem;
        border-color: black;
    }

    .btn-circle {
        background-color: #78909c;
        border-radius: 5rem;
        font-size: 2rem;
        width: 3.5rem;
        height: 3.5rem;
        color: white;
        text-align: center;
    }
}

.ext-links {
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;
    position: sticky; 
    top: 0;
    z-index: 100;
    background-color: white;
    
    .ext-links-wrapper {
        width: 55%;
        justify-content: space-between;

        .ext-link {
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
            color: gray;
            font-weight: 400;
            font-size: 1.6rem;
            text-transform: uppercase;
            text-decoration: none;
    
            &:hover {
                color: black;
            }
        }
    }

    
}

.landing-page {
    background-color: white;
    max-width: 70vw;
    height: 2000px;

    .main-stories {
        .article-img1,
        .article-img2 {
            width: 100%;
            height: 15rem;
            background-size: cover;
            background-position: center;
        }

        .article-img1 {
            background-image: url("/img/article1.jpeg");
        }

        .article-img2 {
            width: 70%;
            background-image: url("/img/article4.png");
        }

        .article-description-right,
        .article-description-left {
            

            h1 {
                margin-top: 2rem;
                font-size: 2rem;
                color: black;
                font-weight: 600;
            }

            h4 {
                margin-top: 1rem;
                color: gray;
                font-size: 1.3rem;
            }
        }

        .article-description-right {
            width: 75%;
            margin-left: auto;
        }

        .small-article {
            justify-content: space-around;
            margin-bottom: 2rem;

            .img-2,
            .img-3,
            .img-4 {
                width: 10rem;
                height: 10rem;
                background-size: cover;
                background-position: center;
            }

            .img-2 {
                background-image: url("/img/article2.png");
            }

            .img-3 {
                background-image: url("/img/article3.jpeg");
            }

            .img-4 {
                background-image: url("/img/article4.jpeg");
            }

            .article-description-middle {
                width: 65%;

                h1 {
                    font-size: 1.5rem;
                    color: black;
                    font-weight: 600;
                }
    
                h4 {
                    margin-top: .5rem;
                    color: gray;
                    font-size: 1.3rem;
                }

                .row {
                    margin: 0;
                }
            }
        }
        
    }

    .featured {
        width: 80%;
        margin: auto;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid rgba(gray, .5);

        a {
            margin-left: auto;
            text-decoration: none;
            color: green;
            font-size: 1.5rem;
            font-weight: 600;
        }

        .icon-right {
            margin: 0;
            font-size: 2.5rem;
            color: green;
            cursor: pointer;
        }
    }

    .reading-history {
        width: 80%;
        margin: auto;

        .reading-history-title {
            color: gray;
            font-size: 1.4rem;
            text-transform: uppercase;
            font-weight: 400;
        }

        .history-article {
            padding: 0;
            

            .article-description {
                color: gray;
                font-size: 1.3rem;
                font-weight: 500;
            }
        }

        .article-author {
            .row {
                margin: 0;
                align-items: center;
            }

            .col-9,
            .col {
                padding: 0;
            }
        
            p {
                margin: 0;
                color: gray;
                font-size: 1.2rem;
                display: inline-block;
            }
        
            a {
                text-decoration-color: black;
                color: #78909c;
                font-size: 1.2rem;
                font-weight: 400;
            }
        }

        .history-article-img,
        .history-article-img-2 {
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
        }

        .history-article-img {
            background-image: url("/img/article6.png");
        }

        .history-article-img-2 {
            background-image: url("/img/article-7.png");
        }
    }
    
    .net-section {
        background-color: #D7EFEE;
        align-items: flex-end;


        .head-img {
            height: 15rem;
        }

        .head-title {
            padding: 2rem;
            width: 50%;
            height: fit-content;
        }
    }

    .partner-section {
        height: 20rem;
        padding: 5rem;
        background-color: #fafafa;

        .partner-title {
            font-size: 1.6rem;
            width: 80%;
            padding-left: 2rem;
        }

        .partner-content {
            margin-left: 20%;
        }
    }

    .popular-title {
        margin: auto;
        padding-top: 2rem;
        padding-bottom: 1.5rem;
        padding-right: 10rem;
        border-bottom: 1px solid rgba(gray, .5);
    }

}


// Shared components
.article-author-section {
    margin-top: 1.5rem;

    .row {
        margin: 0;
        align-items: center;
    }

    p {
        margin: 0;
        color: gray;
        font-size: 1.2rem;
    }

    a {
        text-decoration-color: black;
        color: #78909c;
        font-size: 1.2rem;
        font-weight: 400;
    }
}

.mat-icon {
    margin-right: 1rem;
    color: gray;
    cursor: pointer;
}

.article-title {
    color: black;
    font-size: 2rem;
    font-weight: 1000;
}

// Helper classes
.margin-bottom-small {
    margin-bottom: 2rem;
}

.margin-bottom-medium {
    margin-bottom: 4rem;
}

.margin-bottom-large {
    margin-bottom: 6rem;
}