/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
/* line 19, ../sass/_base.scss */
:root {
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

/* line 41, ../sass/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 46, ../sass/_base.scss */
*,
*::before
*::after {
  box-sizing: inherit;
}

/* line 52, ../sass/_base.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/* line 57, ../sass/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

/* line 3, ../sass/main.scss */
.landing-page {
  background-color: aliceblue;
  max-width: 70vw;
  height: 2000px;
}
/* line 8, ../sass/main.scss */
.landing-page .navigation {
  width: 80%;
  margin: auto;
  padding: 1.5rem;
  justify-content: flex-end;
  align-items: center;
}
/* line 15, ../sass/main.scss */
.landing-page .navigation .svg-logo {
  margin-right: auto;
}
/* line 19, ../sass/main.scss */
.landing-page .navigation .mat-icon {
  margin-right: 1rem;
  color: gray;
}
/* line 24, ../sass/main.scss */
.landing-page .navigation .btn-upgrade {
  background-color: white;
  color: black;
  margin-right: 1rem;
  border-color: black;
}
/* line 31, ../sass/main.scss */
.landing-page .navigation .btn-circle {
  background-color: #78909c;
  border-radius: 5rem;
  font-size: 2rem;
  width: 3.5rem;
  height: 3.5rem;
  color: white;
  text-align: center;
}
/* line 42, ../sass/main.scss */
.landing-page .ext-links {
  float: top;
  width: 80%;
  margin: auto;
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: aliceblue;
}
/* line 54, ../sass/main.scss */
.landing-page .ext-links::before {
  content: ' ';
  background-color: rebeccapurple;
  display: table;
}
/* line 60, ../sass/main.scss */
.landing-page .ext-links .ext-link {
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  color: gray;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
}
/* line 68, ../sass/main.scss */
.landing-page .ext-links .ext-link:hover {
  color: black;
}
/* line 75, ../sass/main.scss */
.landing-page .main-stories .article-img1,
.landing-page .main-stories .article-img2 {
  width: 100%;
  height: 15rem;
  background-size: cover;
  background-position: center;
}
/* line 83, ../sass/main.scss */
.landing-page .main-stories .article-img1 {
  background-image: url("/img/article1.jpeg");
}
/* line 87, ../sass/main.scss */
.landing-page .main-stories .article-img2 {
  width: 70%;
  background-image: url("/img/article4.png");
}
/* line 96, ../sass/main.scss */
.landing-page .main-stories .article-description-right h1,
.landing-page .main-stories .article-description-left h1 {
  margin-top: 2rem;
  font-size: 2rem;
  color: black;
  font-weight: 600;
}
/* line 103, ../sass/main.scss */
.landing-page .main-stories .article-description-right h4,
.landing-page .main-stories .article-description-left h4 {
  margin-top: 1rem;
  color: gray;
  font-size: 1.3rem;
}
/* line 110, ../sass/main.scss */
.landing-page .main-stories .article-description-right {
  width: 75%;
  margin-left: auto;
}
/* line 115, ../sass/main.scss */
.landing-page .main-stories .small-article {
  justify-content: space-around;
  margin-bottom: 2rem;
}
/* line 119, ../sass/main.scss */
.landing-page .main-stories .small-article .img-2,
.landing-page .main-stories .small-article .img-3,
.landing-page .main-stories .small-article .img-4 {
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-position: center;
}
/* line 128, ../sass/main.scss */
.landing-page .main-stories .small-article .img-2 {
  background-image: url("/img/article2.png");
}
/* line 132, ../sass/main.scss */
.landing-page .main-stories .small-article .img-3 {
  background-image: url("/img/article3.jpeg");
}
/* line 136, ../sass/main.scss */
.landing-page .main-stories .small-article .img-4 {
  background-image: url("/img/article4.jpeg");
}
/* line 140, ../sass/main.scss */
.landing-page .main-stories .small-article .article-description-middle {
  width: 65%;
}
/* line 143, ../sass/main.scss */
.landing-page .main-stories .small-article .article-description-middle h1 {
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}
/* line 149, ../sass/main.scss */
.landing-page .main-stories .small-article .article-description-middle h4 {
  margin-top: .5rem;
  color: gray;
  font-size: 1.3rem;
}
/* line 155, ../sass/main.scss */
.landing-page .main-stories .small-article .article-description-middle .row {
  margin: 0;
}
/* line 163, ../sass/main.scss */
.landing-page .featured {
  width: 80%;
  margin: auto;
  margin-bottom: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.5);
}
/* line 170, ../sass/main.scss */
.landing-page .featured a {
  margin-left: auto;
  text-decoration: none;
  color: green;
  font-size: 1.5rem;
  font-weight: 600;
}
/* line 178, ../sass/main.scss */
.landing-page .featured .icon-right {
  margin: 0;
  font-size: 2.5rem;
  color: green;
  cursor: pointer;
}

/* line 188, ../sass/main.scss */
.article-author-section {
  margin-top: 1.5rem;
}
/* line 191, ../sass/main.scss */
.article-author-section .row {
  margin: 0;
  align-items: center;
}
/* line 196, ../sass/main.scss */
.article-author-section p {
  margin: 0;
  color: gray;
  font-size: 1.2rem;
}
/* line 202, ../sass/main.scss */
.article-author-section a {
  text-decoration-color: black;
  color: #78909c;
  font-size: 1.2rem;
  font-weight: 400;
}
